{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Story 10</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  	<script src="{% static 'js/index.js' %}"></script>
</head>
<body>
	<div class="container p-md-5">
		<h1>// SUBSCRIBE</h1>
		<div class="Form">
			<div class="form-group">
				<form id="subscriberForm">
					{% csrf_token %}
					{{ form }}
					<button type="submit" class="btn btn-primary my-3" id="SubmitButton">Subscribe</button>
				</form>
			</div>
		</div>
	</div>

	<div class="container p-md-5">
		<h1>// ALL SUBSCRIBERS</h1>
		<table class="table" id="subscribersData">
			<thead>
				<th>Username</th>
				<th>Email</th>
				<th></th>
			</thead>
		</table>
	</div>

	<div class="modal fade" id="confirmUnsubscribe" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">// confirm deletion</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<input
					 type="password"
					 class="form-control"
					 placeholder="To unsubscribe, enter your password again here..."
					 id="confirmPassword"/>
				</div>
				<div class="modal-footer">
					<button
					type="button"
					onclick="unsubscribe()"
					class="btn btn-default btn-xs btn-primary"
					data-dismiss="modal"
					id="confirm">
					Confirm
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>